body {
  font-family: 'Cambo', serif;
  margin: 25px 50px;
}

.code-box {
  margin: 20px 0px;
}

.code-box .label {
  margin-bottom: 10px;
}

.code-box .CodeMirror {
  height: 225px;
}

.code-box button {
  margin: 10px;
}