::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: 'Cambo', serif;
  margin: 25px 50px;
  padding-top: 50px;
}

a {
  cursor: pointer;
}

.navbar-brand:hover {
  color: #fff !important;
}

.board {
  min-width: 1120px;
}

.board-navigation {
  float: right;
}

.panel-navigation {
  float: right;
  margin: 10px 0px 10px 0px;
}

.board .panel {
  overflow: hidden;
}

.board-title {
  font-size: 20px;
  border: 0px solid;
  border-bottom: 1px solid #ccc;
  height: 40px;
}

.btn-help {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 3px;
  border-radius: 50%;
}

.btn-help span {
  margin-left: -1px;
}

.required {
  border-bottom: 1px solid #f00 !important;
  background: #fee;
}

.panel-title {
  font-size: 16px;
  border: 0px solid;
}

.code-box {
  margin: 20px 0 0 0;
}

.code-box .code-controls {
  padding: 0 10px;
  background: #E6E9ED;
  border-top: solid 1px #AAB2BD;
}

.code-box .code-controls input[type=number] {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 0;
}

.code-box .code-controls .selecter {
  width: 113px;
  display: inline-block;
  vertical-align: middle;
}

.timeframe, .daterange {
  display: inline;
}

.timeframe label {
  margin-top: 8px;
}

.timeframe .selecter {
  margin: 8px 0;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 3.5s;
  transition:all linear 3.5s;
}

.precompute {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin: 0 10px;
  padding: 7px 10px 0 10px;
  color: #656D78;
  border-left: solid 1px #AAB2BD;
}

.code-controls label {
  color: #656D78;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.8em;
}

.precompute .enable {
  display: inline-block;
  padding-top: 8px;
}

.precompute .options {
  display: inline;
  width: auto;
  opacity: 1;
}

.precompute .options.animate-show.ng-hide {
  opacity:0;
  width: 0;
}

.precompute .options input[type=text] {
  width: 70px;
  padding: 0;
  display: inline;
  text-align: center;
}

.code-box .error-alert {
  margin-bottom: 0px;
}

div, span, p, td {
  font-family: Arial, sans-serif;
}

.CodeMirror span {
  font-family: monospace !important;
}

rickshaw {
    display: inline-block;
    width: 100%;
}

.rickshaw_graph {
    float: left;
    display: inline-block;
}

.code-box .CodeMirror {
  height: 250px;
  font-size: 12px;
}

.monospace {
  font-family: monospace;
  font-size: 12px;
}

.error-alert .error-desc {
  margin-bottom: 10px;
}

.rickshaw_legend {
    font-family: Arial;
    font-size: 12px;
    color: white;
    background: #404040;
    display: inline-block;
    padding: 12px 5px;
    border-radius: 2px;
    float: right;
}
.rickshaw_legend:hover {
    z-index: 10;
}
.rickshaw_legend .swatch {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line {
    clear: both;
    line-height: 140%;
    padding-right: 15px;
}
.rickshaw_legend .line .swatch {
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}
.rickshaw_legend .label {
    margin: 0;
    white-space: nowrap;
    display: inline;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    font-weight: normal;
    line-height: normal;
    padding: 0px;
    text-shadow: none;
}
.rickshaw_legend .action:hover {
    opacity: 0.6;
}
.rickshaw_legend .action {
    margin-right: 0.2em;
    font-size: 10px;
    opacity: 0.2;
    cursor: pointer;
    font-size: 14px;
}
.rickshaw_legend .line.disabled {
    opacity: 0.4;
}
.rickshaw_legend ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}
.rickshaw_legend li {
    padding: 0 0 0 2px;
    min-width: 80px;
    white-space: nowrap;
}
.rickshaw_legend li:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
}
.rickshaw_legend li:active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.panel {
  border:1px solid #CCCCCC;
}

/* Hack to fix bottom border on ng-table with dynamic cols */
.ng-table.table {
  border-collapse: separate;
}

.ng-table.table > tfoot > tr:first-child td {
  border-top: none;
}

.ng-table.table > tbody > tr:last-child td {
  border-bottom: solid 1px #ddd;
}

.ng-table.table > tfoot > tr:first-child {
  border-top: solid 1px #ddd;
}

/* Hard override on ng-table counts */
.ng-table-counts {
  display: none;
}

.log {
  position: relative;
  margin: 10px;
}

.log ul {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
}

.alert-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 100%;
  background: rgba(255, 255, 255, 0.2);
  width: 40px;
}

.alert-icon span.glyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

.datetimepicker {
  color: #CCD1D9;
}

.dtp-container {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
}


/* Copied from datetimepicker.css */
.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
  background: none;
  background-color: #4fc1e9;
}

.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
  background: #4fc1e9;
}

.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
  background-color: #4fc1e9;
}

.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #4fc1e9;
}

.datetimepicker table tr td.past, .datetimepicker table tr td.future {
  color: #656D78;
}

.datetimepicker table tr td.minute:hover,
.datetimepicker table tr td.hour:hover,
.datetimepicker table tr td.day:hover,
.datetimepicker table tr td span:hover,
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover {
  background-color: #E6E9ED;
  color: #656D78;
}
