import re

DEBUG = True
SECRET_KEY = 'oh man security'
KRONOS_URL = 'http://localhost:8150'

ENABLE_OPENID = True
OPENID_ENDPOINT = 'https://www.google.com/accounts/o8/ud'
ALLOWED_USERS = map(re.compile, [
# Only user id's matching regexes in this list will be allowed to use Jia
])
