<div ng-repeat="arg in operator.args[0]" class="operator-arg-set">
  <aggtype arg="arg[0]"></aggtype>
  <span ng-if="arg[0].val == 'count'">
    of <prop arg="arg[1]" placeholder="Property (optional)"></prop>
  </span>
  <span ng-if="arg[0].val != 'count'">
    of <cpf arg="arg[1]"></cpf>
  </span>
  <div class="eol-group">
    Store result in <val placeholder="'new field'" arg="arg[2]"></val>
    <button class="btn btn-danger btn-xs"
            ng-click="removeArg($index, operator.args[0])">
      &times;
    </button>
  </div>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addArg(operator.args[0])">
  <span class="glyphicon glyphicon-plus"></span>
  Add aggregate
</button>
<div><br><strong>Group by</strong></div>
<div ng-repeat="arg in operator.args[1]" class="operator-arg-set">
  <cpf arg="arg[0]"></cpf>
  <div class="eol-group">
    Store result in <val arg="arg[1]"></val>
  </div>
  <button class="btn btn-danger btn-xs"
          ng-click="removeArg($index, operator.args[1])">
    &times;
  </button>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addArg(operator.args[1])">
  <span class="glyphicon glyphicon-plus"></span>
  Add group 
</button>
