<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jia -- Dashboard for the Chronology Project</title>

    <!-- Bootflat CSS -->
    <link href="/static/lib/bootflat/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootflat/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootflat/css/bootflat.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootflat/css/bootflat-extensions.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootflat/css/bootflat-square.css" rel="stylesheet" media="screen">

    <!-- Widget CSS -->
    <link href="http://fonts.googleapis.com/css?family=Cambo" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://codemirror.net/lib/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.1.0/package/theme/mdn-like.css"/>

    <!-- Widget JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.1.0/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.1.0/package/mode/python/python.js"></script>
    <script src="/static/js/ui-codemirror.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <!-- Timeseries -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>
    <script src="//ngyewch.github.io/angular-rickshaw/rickshaw.js"></script>
    <script src="/static/visualizations/timeseries/timeseries.js"></script>
    
    <!-- Table -->
    <script src="/static/js/ng-table.min.js"></script>
    <script src="/static/visualizations/table/table.js"></script>
    
    <!-- Gauge -->
    <link rel="stylesheet" href="static/visualizations/gauge/gauge.css">
    <script src="/static/visualizations/gauge/gauge.js"></script>
    
    <!-- Jia CSS -->
    <link href="/static/css/board.css" rel="stylesheet">

  </head>

  <body ng-app="boardApp" ng-controller="boardController">
    <div class="board-navigation">
      <a href ng-click="saveBoard()">Save Board</a> | <a href="/">New Board</a>
    </div>
    <header>
      <input type="text" class="form-control board-title" placeholder="New board" ng-model="boardData.title"></input>
    </header>
    <div class="board">
      <div class="panel-navigation">
        <button type="button" class="btn btn-success" ng-click="callAllSources()">
          <span class="glyphicon glyphicon-play"></span> Run all
        </button>
        <button type="button" class="btn dropdown-toggle" ng-click="addPanel()" data-toggle="dropdown">
          Add Panel
        </button>
      </div>
      <div style="clear: both;"></div>
      <div class="panel" ng-repeat="panel in boardData.panels" ng-cloak>
        <input type="text" class="form-control panel-title" placeholder="New panel" ng-model="panel.title"></input>
        <visualization ng-repeat="visualization in panel.cache.visualizations" module="visualization" ng-if="visualization.meta.title == panel.display.display_type"></visualization>
        <div class="code-box">
          <div class="code-controls">
            <button type="button" class="btn btn-success run-btn" ng-click="callSource(panel)">
              <span class="glyphicon glyphicon-play"></span> Run
            </button>
            <div class="btn-group" dropdown is-open="panel.cache.visualizationDropdownOpen">
              <button type="button" class="btn btn-primary dropdown-toggle display-type-btn" ng-disabled="disabled">
                {[ panel.cache.visualization.meta.readableTitle ]} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="visualization in visualizations" ng-click="changeVisualization(panel, visualization)"><a href="#">{[ visualization.meta.readableTitle ]}</a></li>
              </ul>
            </div>
            <button type="button" class="btn" ng-click="panel.data_source.display = !panel.data_source.display">
              <span ng-show="!panel.data_source.display"><span class="glyphicon glyphicon-eye-open"></span> Show</span>
              <span ng-show="panel.data_source.display"><span class="glyphicon glyphicon-eye-close"></span> Hide</span>
              Code
            </button>
            <a class="btn" href="#" target="_blank" download="{[ panel.title + '.csv']}" ng-click="downloadCSV(panel, $event)" ng-if="panel.cache.series.data.length > 1">
              <span class="glyphicon glyphicon-download"></span> Download CSV
            </a>
            <!-- TODO(marcua): CodeMirror is unhappy when we toggle
            visibility of the editor.  It hides line numbers until you
            click in the text area after toggling visbility, which
            hides some of the code until the click event.  Address
            this. -->
            <div class="msg" ng-show="panel.cache.loading">
              <span class="label"></span>
              <img class="loading" src="/static/img/loading.gif">
            </div>
          </div>
          <div class="error log alert alert-error" ng-if="panel.cache.log.errors.length">
            <div class="alert-icon"><span class="glyphicon glyphicon-remove-sign"></span></div>
            <ul>
              <li ng-repeat="message in panel.cache.log.errors" ng-bind-html="message"></li>
            </ul>
          </div>
          <div class="warn log alert alert-warn" ng-if="panel.cache.log.warns.length">
            <div class="alert-icon"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
            <ul>
              <li ng-repeat="message in panel.cache.log.warns" ng-bind-html="message"></li>
            </ul>
          </div>
          <div class="info log alert alert-info" ng-if="panel.cache.log.infos.length">
            <div class="alert-icon"><span class="glyphicon glyphicon-info-sign"></span></div>
            <ul>
              <li ng-repeat="message in panel.cache.log.infos" ng-bind-html="message"></li>
            </ul>
          </div>
          <div ui-codemirror="editorOptions"
               ng-model="panel.data_source.code"
               class="code"
               ng-show="panel.data_source.display"
               ui-refresh="panel.data_source.display">
          </div>
        </div>
      </div>

    <!-- Jia JS -->
    <script src="/static/js/board.js"></script>
</body>
</html>
