<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jia - {{ board.id }}</title>

    <link href="http://fonts.googleapis.com/css?family=Cambo" rel="stylesheet" type="text/css">
    <link href="/static/css/board.css" rel="stylesheet">
    <link href="/static/css/rickshaw.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/codemirror.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/theme/mdn-like.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js">
    </script>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/codemirror.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/mode/python/python.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js">
    </script>
  </head>

  <body>
    <header>
      <h1>Jia -- Dashboard for the Chronology Project</h1>
    </header>
    <div class="board"></div>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/views.js"></script>
  </body>
</html>
