{% extends "base.html" %}

{% block content %}

<ul id="visualizations">
</ul>

<form id="new-vis-form" class="form-horizontal" action="">
    <fieldset>
        <legend>Create a new visualization</legend>
        <div class="control-group">
            <label class="control-label">Type: </label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="vistype" value="plot" checked> plot
                </label>
                <label class="radio">
                    <input type="radio" name="vistype" value="table"> table
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Start time:</label>
            <div class="controls">
                <input id="start-time" type=text placeholder="-3months, 4 days ago, YYYY/MM/DD HH:MM:SS">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">End time:</label>
            <div class="controls">
                <input id="end-time" type=text placeholder="yesterday, today, now, YYYY/MM/DD HH:MM:SS">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stream:</label>
            <div class="controls">
              <input id="stream-name" type=text placeholder="locu...">
            </div>
        </div>

        <div class="control-group">
          <label class="control-label">Properties:</label>
          <div class="controls">
            <label class="radio">
              <input type="radio" name="property-type" value="all" checked> all properties
            </label>
            <label class="radio">
              <input type="radio" name="property-type" value="select"> select properties
            </label>
          </div>
        </div>

        <div class="control-group" id="properties-checkboxes">
          <div class="controls">
          </div>
        </div>

        <div class="control-group">
            <button type="Submit" class="btn">Add Visualization</button>
        </div>
    </fieldset>
</form>

<script type="text/template" id="property-checkbox">
  <label class="checkbox">
    <input type="checkbox" value="<%= value %>" id="properties" checked><%= value %>
  </label>
</script>

<script type="text/template" id="table-vis">
    <p><%= stream %></p>
    <a class="btn remove-vis">Remove this visualization</a>
    <a class="btn csv-link">Download as CSV</a>
    <table class="tablesorter">
        <thead><tr></tr></thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="plot-vis">
    <p><%= stream %></p>
    <a class="btn remove-vis">Remove this visualization</a><br>
    <div class="plot-container">
      <div class="y_axis"></div>
      <div class="plot"></div>
    </div>
    <div class="legend"></div>
</script>

{% endblock content %}



{% block css_includes %}
<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/css/rickshaw.min.css" rel="stylesheet">
<link href="/static/css/tablesorter.theme.default.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
{% endblock css_includes %}


{% block js_includes %}
<script src="/static/js/date.js"></script>
<script src="/static/js/d3.v2.js"></script> 
<script src="/static/js/d3.layout.min.js"></script> 
<script src="/static/js/rickshaw.min.js"></script> 
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.tablesorter.min.js"></script>

<script src="/static/js/plot.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/router.js"></script>
<script src="/static/js/main.js"></script>
{% endblock js_includes %}
